<!--This is used by the login and logout page-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>EduOne</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles  %}
    <link rel='stylesheet' href="{% static 'common/css/bootstrap.min.css' %}" type='text/css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'common/js/bootstrap.bundle.js' %}"></script>

</head>

<style>
    .checked {
        color: orange;
    }

    #footer1{
		position: absolute;
		bottom: -25%;
		width: 100%;
		right: 1%;
		height: 60px;
	}
</style>

<body>
    <div class="container-fluid">
            <!--<div class="row">
                <div class="col-md-12 text-right">
                    <p>Join us on telegram!</p>
                </div>
            </div>-->
        <div class="row" style="margin-top: 1.5%;">
            <div class="col-md-12 text-center">
                <img src="{% static 'logo/eduone.png' %}" width="350" height="200" class="" alt="">
            </div>
        </div>
    </div>


    <main role="main">
        <center>{% block content %} {% endblock %}</center>
    </main>

    <footer id="footer1">
            <div class="row" style="margin-top: 1%;">
                <div class="col-md-12 text-center">
                    <b>Team ReFormed</b><br>
                    NTU CZ3005 2018/19 Semester 1&ensp;Advance Software Engineering Project
                </div>
            </div>
    </footer>
</body>



</html>				


