<!DOCTYPE html>
<html lang="en">

<head>
    <title>EduOne</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles  %}
    <link rel='stylesheet' href="{% static 'common/css/bootstrap.min.css' %}" type='text/css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'common/js/bootstrap.bundle.js' %}"></script>

</head>

<body class="body" style="background-color:#f6f6f6">
    <nav class="navbar navbar-expand-md navbar-dark static-top bg-dark">
        <a class="navbar-brand" href="/"><img src="{% static 'logo/eduone.jpeg' %}" width="67" height="40" class="d-inline-block align-top" alt=""></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if active_page == 'home' %} active {% endif %}">
                <a class="nav-link" href="{% url 'main-home' %}">Home</a>
            </li>
            <li class="nav-item {% if active_page == 'schedule' %} active {% endif %}">
                <a class="nav-link" href="{% url 'schedule-home' %}">Schedule</a>
            </li>
            {% if user.is_staff %}
            <li>
                <div class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="studentSettings" data-toggle="dropdown">
                    <a class="nav-link">Student's Settings</a>
                    </button>
                  <div class="dropdown-menu" aria-labelledby="studentSettings">
                    <a class="dropdown-item" href="{% url 'grades-home' %}">Manage Grades</a>
                    <a class="dropdown-item" href="#">Comment Performance</a>
                    <a class="dropdown-item" href="{% url 'attendance-home' %}">Take Attendance</a>
                  </div>
                </div>  
            </li>
            {% endif %}
            <li class="nav-item {% if active_page == 'test2' %} active {% endif %}">
                <a class="nav-link" href="/test2">Test2</a>
            </li>
            <li class="nav-item {% if active_page == 'test3' %} active {% endif %}">
                    <a class="nav-link" href="/test3">Test3</a>
            </li>
            <li class="nav-item {% if active_page == 'logout' %} active {% endif %}">
                <a class="nav-link" href="{%url 'logout' %}">Logout</a>
            </li>
        </ul>
    </nav>

    <main role="main">
        {% block content %} {% endblock %}
    </main>

    <hr>

    <footer class="container">
        <div class="row">
            <div class="col">
                <i>NTU CZ3005 2018/19 Semester 1<br>Advance Software Engineering Project<br><b>Team ReFormed</b></i>
            </div>
            <div class="col text-right">
                Join us on telegram!
            </div>
        </div>
    </footer>
</body>

<style>
    .checked {
    color: orange;
}
</style>

</html>