{% include "common/header.html" %}
{% load widget_tweaks %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="{% static 'common/js/jquery.bootstrap.modal.forms.js' %}"></script>
		<script src="{% static 'common/js/bootstrap.bundle.min.js' %}"></script>
</head>

<style>
	h2 {
		padding: 1%;
	}

	#imageid {
		border:1px solid black;
		border-bottom: none;
		/*top right bottom left*/
		border-radius: 10px 10px 0 0;
	}

	#imageid img {
		margin-top: 5%;
	}

	#detailsid {
		border:1px solid black;
		border-top: none;
		border-radius: 0 0 10px 10px;
		padding: 5%;
	}

	.text {
		margin-left: -10%;	
	}

	.table-bordered tr td {
		padding: 1%;
	}

	.table-bordered tr th {
		padding: 1%;
	}

	#footer1 {
		position: absolute;
		top: 150%;

	}
</style>

<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
			<div class="col-sm-12 text-center">
				<h2>My Child's Profile</h2>   
			</div>
		</div>
		

        <div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-3 text-center" id="imageid">
				<img src="/static/logo/profilepic.jpeg" width="150" height="150">				
			</div>
			<div class="col-sm-8">
				<table class=" table table-bordered">
					<tr><th colspan="2">Report Book</th></tr>
						<tr><th>Examinations: </th><th>Date: </th></tr>
						{% for rcl in REPORTCARDLIST %}
						<tr><td><a href="{% url 'report-card-page' id=childStudent.nric rcid=rcl.id %}">{{ rcl.examination_type }}</a></td><td>{{rcl.exam_date}}</td></tr>
						{% endfor %}
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-3" id="detailsid">
				<div class="text">
						Name: {{childStudent.first_name}} {{childStudent.last_name}}<br>
						Class: {{childStudent.form_class}}<br>
						Address: {{childStudent.home_address}}<br>
						Emergency Contact: {{childStudent.emergency_contact}}<br>
				</div>

			</div>
			
			<div class="col-sm-8">
				<table class='table table-bordered'>
					<tr>
						<th colspan="3">{{childStudent.first_name}} {{childStudent.last_name}}'s comments</th>
					</tr>
						<tr><th>Teacher</th><th>Comment</th><th>Date</th></tr>
						{% for c in COMMENTLISTSLICED %}
						<tr><td>{{c.commentBy}}</td><td>{{c.comment}}</td><td>{{c.commentDate}}</td></tr>
						{% endfor%}
				</table>
				<button class="viewComments btn btn-primary" btn data-id="{% url 'child-comments' id=childStudent.nric %}" data-toggle="tooltip" title="Delete grades" data-placement="bottom">View past comments</button>
			
			</div>
		</div>

		<div class="row" style="margin-top: 5%;">
			<div class="col-sm-1"></div>
			<div class="col-sm-11">
				<table class="table table-bordered">
					<tr><th colspan="7">Attendance for the week 08/04/2019 - 12/04/2019</th></tr>
						
						<tr>
						{% for i in WEEKLIST %}
							<td>{{i}}</td>
						{% endfor %}
						</tr>

						<tr>
							{% for j in PRESENTLIST %}
								<td>{{j}}</td>
							{% endfor %}
						</tr>
					</table>		

							

							
			<a href="{% url 'child-attendance' id=childStudent.nric %}" role="button" class="btn btn-primary">View full attendance records</a>
					
			</div>
		</div>

		<div class="modal fade" tabindex="-1" role="dialog" id="modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content"></div>
			</div>
		</div>
        </div>

      
 
</body>
<script>
	$(".viewComments").each(function () {
		$(this).modalForm({formURL: $(this).data('id')});
	});
</script>
</html>
{% endblock %}










