{% include "common/header.html" %}
{% load widget_tweaks %}
{% load static from staticfiles %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<style>

</style>

<body>

    <div class= "container-fluid">
        <div class="row" style="padding:1%;">
            <div class="col-md-12 text-center">
                <h2>My Child's Profile</h2>
            </div>
        </div>

            <table class="table table-bordered">
                {% for child in CHILDLIST %}
                <tr>
                    <td width="10%;" style="border-right: 1px solid #f6f6f6;">
                        <img src="/static/logo/profilepic.jpeg" width="150" height="150" class="childImage">
                    </td>
                    <td>
                        Name: {{child.first_name}} {{child.last_name}}<br>
                        Class: {{child.form_class}}<br>
                        Date Of Birth: 14/02/1995<br>
                        Address: {{child.home_address}}<br>
                        Emergency Contact: {{child.emergency_contact}}<br>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <a href="{% url 'child-profile' id=child.nric %}"> Detailed View </a>
                            </div>
                        </div>
                        {% endfor %}
                    </td>
                </tr>
            </table>
                
    </div>

</body>
</html>
{% endblock %}