
{% load static from staticfiles %}
{% block content %}
<!DOCTYPE html>
<style>
    #cross {
		position: absolute;
        left: 96%;
        top: 1%;
	}
</style>
<body>
    <div class="container-fluid">

        <div class="modal-header" style="border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" id="cross">&times;</span>
                </button>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <h2>All Comments</h2>
            </div>
        </div>
        
        <table class="table">
                <tr><th>Teacher</th><th>Comment</th><th>Date</th></tr>
                {% for i in COMMENTLIST %}
                <tr><td>{{i.commentBy}}</td><td>{{i.comment}}</td><td>{{i.commentDate}}</td></tr>
                {% endfor%}
            </table>
    </div>



</html>
{% endblock %}