{% include "common/header.html" %}

{% block content %}
<!DOCTYPE html>
<style>
	th {
		background-color: #FA9483;
		text-align: center;
	}

	td {text-align: center;}

	.container-fluid a {
		color: #000000;
		font-weight: bold;
	}
</style>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 style="padding:1%;">Class {{information.teacher_info.className}} Student Attendance</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 text-left">
				Date: {{information.today}}
			</div>

			<div class="col-md-6 text-right">
				Attendance: {{information.attendanceCount}}/{{information.students.count}}
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 text-left">
				Taken by: {{information.teacher_info}}
			</div>

			<div class="col-md-6 text-right">
				<a href="{% url 'attendance-edit' id=user.id status='all' %}">Select all</a>
			</div>
		</div>
	
		<table class="table table-hover" style="margin-top: 2%;">
			<tr>
				<th>S/N</th>
				<th>Student Name</th>
				<th>Present?</th>
			</tr>
			{% for student in information.students %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{student.last_name}}  {{student.first_name}}</td>
				<td>
				{% if student in information.present %}
					<a href="{% url 'attendance-edit' id=student.nric status='Y' %}">Y</a></td>
				{% else %}
					<a href="{% url 'attendance-edit' id=student.nric status='N' %}">N</a></td>		
				{% endif %}	
			</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>
{% endblock %}