{% include "common/header.html" %}

<!DOCTYPE html>

<head>

</head>

<style>
	h2 {
		text-align: center;
		font-size: 45px;
	}

	#class {
		justify-content: center;
	}

	table {
		text-align: center;
	}

	#studentlist {
		justify-content: center;
	}

	p {
		position: static;
		padding-left: 1%;
		padding-bottom: 2%;
		margin-bottom: -1%;
	}

	table a {
		color: #000000;
	}
	
</style>

<body>
{% block content %}
	<div class="maincontainer" style="padding: 1%;">
	<div class="container">
		<div class="row" id="class">
				<h2>Class {{information.form_class.className}}</h2>
		</div>

		<div class="row" id="studentlist" style="padding: 1%;">
			<h5 style="font-size: 15px;">Student List</h5>
		</div>
	
		<div class="row" id="teacher">
			<p >Taken by: {{user.last_name}}</p>
		</div>

		<table class="table table-bordered">
			<tr class="table-info">
				<th style="width: 10%;">S/N</th>
				<th style="width: 45%;">Student Name</th>
				<th>Tools</th>
			</tr>
			{% for student in information.students %}
			<tr>
				<td class="align-middle"></td>
				<td class="align-middle">{{student.last_name}}  {{student.first_name}}</td>
				<td>
					<a href='#'>Add Grades</a>
					<br>
					<a href='#'>Manage Grades</a>
				</td>
			</tr>
			{% endfor %}
		</table>
		
	</div>
	</div>
{% endblock %}
</body>
</html>