{% extends "common/header.html" %}

{% block content %}
		<h2>Comment Performance</h2>
		<!--Start of Display Errors-->
		{% if messages %}
			{% for message in messages %}
				<!--<div class = "alert alert-{{message}}"></div>-->
				{{message}}
			{% endfor %}
		{% endif %}		
		<!--End of Display Errors-->

		<!--Start of Form-->
		<div class = "content-section">
			<form method="POST">
				{% csrf_token %}
				<p>Commenting for {{information.student.last_name}} {{information.student.first_name}}</p>
				{{form.as_p}}
				<button type ="submit"> Save Comment </button>
				<p><a href="{% url 'performance-home' %}"> Cancel </a></p>
			</form>
		</div>
		<!--End of Form-->

{% endblock %}