<!--student's settings->add grades-->
{% include "common/header.html" %}
{% load widget_tweaks %}

{% block content %}
<!DOCTYPE html>

<head>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
		<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
</head>
<style>

</style>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Add Subject Grade</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    
                    <div class="form group">
                        <div class="row" style="padding:15px;">
                            {{ reportcardpageform.examination_type.label_tag }}
                            {{ reportcardpageform.examination_type|add_class:'form-control' }}
                        </div>
                    </div>

                    <div class="form group row">
                        <div class="col-md-6">
                            {{ reportcardpageform.exam_date.label_tag }}
                            {{ reportcardpageform.exam_date|add_class:'datepicker form-control' }}
                        </div>

                        <div class="col-md-6">
                            {{ reportcardpageform.description.label_tag }}
                            {{ reportcardpageform.description|add_class:'form-control' }}
                        </div>
                    </div>

                    {% for i in ASGF %}
                        <div class="form group row">
                            <div class="col-md-6">
                                {{ i.subjectName.label_tag }}
                                {{ i.subjectName|add_class:'form-control' }}
                            </div>
                            
                            <div class="col-md-6">
                                {{ i.marks.label_tag }}
                                {{ i.marks|add_class:'form-control' }}
                            </div>

                        </div>

                    {% endfor %}
        
            
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-6 text-center">
                    <a href="{% url 'report-card-page-add' id=id count=c %}" role="button" class="btn btn-outline-dark" style="width: 50%; margin-left: 10%;">Add another subject grade</a>
                </div>
                <div class="col-md-6 text-center">
                    <input type='submit' value = 'Save' class="btn btn-outline-success" style="width: 50%; margin-right: 10%;">
                </div>

                
            </div>

        </div>
    </div>
        </form>
            

    </div>
</body>

<script>
    $(document).ready(function() {
    	$('.datepicker').datepicker(
		);
	});
</script>
</html>
{% endblock %}
