{% include "common/header.html" %}
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>

<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
		<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
		<script src="{% static 'common/js/jquery.bootstrap.modal.forms.js' %}"></script>
		<script type="text/javascript" src="{% static 'common/js/jquery.timepicker.js' %}"></script>
		<link rel='stylesheet' href="{% static 'common/css/jquery.timepicker.css' %}" type='text/css' />
		
		
</head>

<style>
	h2 {
		color: #000000;
	}

	.form-control {
		border:1px solid black;
	}

	#menu a {
		font-weight: bold;
		margin-right: 3%;
	}

	.btn-outline-dark, .btn-outline-success {
		width: 55%;
		margin-top: 3%;
	}

</style>

<body>
{% block content %}
	<div class="container-fluid">
		<div class="row" style="position: relative; margin-top: 1%;">
			<div class="col-sm-12">
				<h2 style="text-align: center;">Add New Events</h2>
			</div>
		</div>

		<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11">
			{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style-type: none;">{{ message }}</li>
		{% endfor %}
		  </div>
		  </div>

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-11" id="menu">
				<a href="{% url 'schedule-add' current='events' %}"> Events </a>
				<a href="{% url 'schedule-add' current='announcements' %}"> Announcements </a>
			</div>
		</div>

		<form method="post" autocomplete="off">
			<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
	
				{% csrf_token %}

				{{ form.non_field_errors }}
				{{ form.source.errors }}
				{{ form.source }}
					

				<div class="form group">
					<div class="row" style="padding:15px;">
						{{ form.title.label_tag }}
						{{ form.title|add_class:'form-control' }}
					</div>
				</div>

				<div class="form group">
					<div class="row" style="padding:15px;">
						{{ form.description.label_tag }}
						{{ form.description|add_class:'form-control' }}
					</div>
				</div>

				<div class="form group">
					<div class="row" style="padding:15px;">
						{{ form.location.label_tag }}
						{{ form.location|add_class:'form-control' }}
					</div>
				</div>

				<div class="form group row">
					<div class="col-sm-6">
						{{ form.dateFrom.label_tag }}
						{{ form.dateFrom|add_class:'datepicker form-control' }}
					</div>

					<div class="col-sm-6">
						{{ form.dateTo.label_tag }}
						{{ form.dateTo|add_class:'datepicker form-control' }}
					</div>
				</div>

				<div class="form group row">
					<div class="col-sm-6">
						{{ form.timeFrom.label_tag }}
						{{ form.timeFrom|add_class:'timepicker form-control' }}
					</div>

					<div class="col-sm-6">
						{{ form.timeTo.label_tag }}
						{{ form.timeTo|add_class:'timepicker form-control' }}
					</div>
				</div>


			</div>
			</div>

			<div class="row" style="padding: 1%;">
					<div class="col-md-6 text-center">
						<a href ="{% url 'schedule-home' %}" class="btn btn-outline-dark" role="button"> Return </a>
					</div>

					<div class="col-md-6 text-center">
							<button type ="submit" class="btn btn-outline-success"> Submit</button>
					</div>
			</div>
	</form>
{% endblock %}
</body>

<script>
	$(document).ready(function() {
    	$('.datepicker').datepicker(
		);
	});

	$(function() {
    $('.timepicker').timepicker({ 'timeFormat': 'H:i:s' });
  	});

  $(function() {
		$("#menu a").each(function() {
			if (this.href == window.location) {
				$(this).css("color", "black");
			};
		});
	});

</script>

</html>
