{% include "common/header.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<head>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
		<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
		<script type="text/javascript" src="{% static 'common/js/jquery.timepicker.js' %}"></script>
		<link rel='stylesheet' href="{% static 'common/css/jquery.timepicker.css' %}" type='text/css' />
</head>
<style>
	h2 {
		padding: 1%;
	}

	.form-control {
		border:1px solid black;
	}

	.btn-outline-dark {
		width: 55%;
	}

	.btn-outline-success {
		width: 55%;
	}


</style>

<body>
	<div class="container-fluid	">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Edit {{edit_type}}</h2>
			</div>
		</div>

		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-11">
					<!--Start of Display Errors-->
					{% if messages %}
						{% for message in messages %}
							<!--<div class = "alert alert-{{message}}"></div>-->
							{{message}}
						{% endfor %}
					{% endif %}		
				<!--End of Display Errors-->
				</div>
			</div>

		<form method="post">
				<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-10">
		
					{% csrf_token %}
	
					{{ form.non_field_errors }}
					{{ form.source.errors }}
					{{ form.source }}
						
	
					<div class="form-group">
						<div class="row" style="padding:8px;">
							{{ form.title.label_tag }}
							{{ form.title|add_class:'form-control' }}
						</div>
					</div>
	
					<div class="form-group">
						<div class="row" style="padding:8px;">
							{{ form.description.label_tag }}
							{{ form.description|add_class:'form-control' }}
						</div>
					</div>
	
					<div class="form-group">
						<div class="row" style="padding:8px;">
							{{ form.location.label_tag }}
							{{ form.location|add_class:'form-control' }}
						</div>
					</div>
	
					<div class="form-group">
						<div class="row" style="padding:8px;">
						<div class="col-sm-6 text-left" style="padding: 0px;">
							{{ form.dateFrom.label_tag }}
							{{ form.dateFrom|add_class:'datepicker form-control' }}
						</div>
	
						<div class="col-sm-6" style="padding: 0 0 0 1%;">
							{{ form.dateTo.label_tag }}
							{{ form.dateTo|add_class:'datepicker form-control' }}
						</div>
						</div>
					</div>
	
					<div class="form-group">
						<div class="row" style="padding: 8px;">
							<div class="col-sm-6" style="padding: 0%;">
								{{ form.timeFrom.label_tag }}
								{{ form.timeFrom|add_class:'timepicker form-control' }}
							</div>
		
							<div class="col-sm-6" style="padding: 0 0 0 1%;">
								{{ form.timeTo.label_tag }}
								{{ form.timeTo|add_class:'timepicker form-control' }}
							</div>
						</div>
					</div>
	
	
				</div>
				</div>

				<div class="row" style="padding: 1%;">
					<div class="col-md-6 text-center">
						<a href ="{% url 'schedule-manage' current=path %}" class="btn btn-outline-dark" role="button"> Return </a>
					</div>

					<div class="col-md-6 text-center">
							<button type ="submit" class="btn btn-outline-success"> Confirm Changes </button>
					</div>
				</div>
		</form>

	</div>
</body>

<script>
	$(document).ready(function() {
    	$('.datepicker').datepicker(
		);
	});

	$(function() {
    $('.timepicker').timepicker({ 'timeFormat': 'H:i:s' });
  });

</script>
</html>
{% endblock %}