{% extends "common/header.html" %}

{% block content %}
		<h2>Add New Events</h2>
		<!--Start of Display Errors-->
		{% if messages %}
			{% for message in messages %}
				<!--<div class = "alert alert-{{message}}"></div>-->
				{{message}}
			{% endfor %}
		{% endif %}		
		<!--End of Display Errors-->

		<!--Start of selection between events & announcements -->
		<p><a href="{% url 'schedule-add' current='events' %}"> Events </a><p>
		<p><a href="{% url 'schedule-add' current='announcements' %}"> Announcements </a><p>
		<!--End of selection between events & announcements -->

		<!--Start of Form-->
		<div class = "content-section">
			<form method="POST">
				{% csrf_token %}
				{{form.as_p}}
				<button type ="submit"> Add {{active_tab}} </button>
				<p><a href="{% url 'schedule-home' %}"> Return </a></p>
			</form>
		</div>
		<!--End of Form-->

{% endblock %}